@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
  transition: steps(smooth);
  /* scroll-behavior : auto; */
}

body {
  font-family: "Poppins", sans-serif;
  background : url(bg.jpg)
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: relative;
  min-height: 100vh;
  background: url("b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
.bg-dark {
  background: #000;
  color: #eee;
}


.nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
  width: 40%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.headline {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-headline {
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}


.section-signup {
  /* padding: 15px; */
  margin: 5rem auto;
  text-align: center;
  background: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 1rem;
  background: url("b.jpg");
  width: 45%;
}

.signup-form {
  max-width: 800px;
  width: 55%;
  text-align: left;
  margin: auto;
  /* border-radius: 10px; */
}
.signup-form label {
  display: block;
}

.signup-form input {
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.form-group {
  margin-top: 1rem;
}
.signup-form textarea {
  width: 100%;
}
.signup-btn {
  /* background: rgb(44, 55, 63); */
  color: white;
  padding: 1rem 2rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

:is(#username,#password, #confirmPassword, #phone, #email, #about){
  border-radius: 10px;
  background: url(bg.jpg); 
}

#copy{
  align-items: center;
  align-content: center;
  text-align: center;
  color: #eee;
}

